<style>
.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}



.expander {
    border: 1px solid black;
    width: 250px;
}

.expander>.title {
    background-color: black;
    color: white;
    padding: .1em .3em;
    cursor: pointer;
}

.expander>.body {
    padding: .1em .3em;
}

</style>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">EasyGo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li ng-repeat="nav in navs" ng-click="clickNavBtn(nav.index)" ng-class="{active:navInitIndex == nav.index}"><a>{{nav.name}}</a></li> -->
                <li><a href="javascript:void(0)" ng-click='userHome()'>{{uname}}</a></li>
                <li><a href="javascript:void(0)" ng-click='logout()'>退出</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <!-- Button to trigger a default modal with a scope as an object {title:'', content:'', etc.} -->
<!--         <button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale" data-placement="center" bs-modal="modal">Click to toggle modal
            <br>
            <small>(using an object)</small>
        </button> -->

	    
        <div class="col-sm-3 col-md-2 sidebar">

        <expander class='expander' expander-title='title'>
            {{text}}
        </expander>

            <ul class="nav nav-sidebar">
                <li ng-repeat="snav in snavs" ng-click="clickSNavBtn(snav.index)" ng-class="{active:snavInitIndex == snav.index}"><a>{{snav.name}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="tab in tabs" ng-click="clickTabBtn(tab.index)" ng-class="{active:tabInitIndex == tab.index}"><a>{{tab.name}}</a></li>
                <button type="button" class="btn btn-primary pull-right">新增</button>


                  <div class="col-sm-3 pull-right">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for...">
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">搜索</button>
                      </span>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
            </ul>
            <!-- 数据渲染区directive -->
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>标题</th>
                            <th>通知来源</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="notice in notice">
                            <td>{{notice._id}}</td>
                            <td>{{notice.title}}</td>
                            <td>{{notice.content}}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-info" ng-click="showtable(notice)">查看</button>
                                <button type="button" class="btn btn-sm btn-danger">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>