/*默认bootstrap字体设置为微软雅黑*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6  { 
	font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a {
	margin-left: 20px; 
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.m15 { 
	margin: 15px;
}


.tc { 
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}