<div class="comfirm" ng-show="popupOpen">
    <div class="comfirm-title">
        {{title ? title : '提示信息'}}
        <a class="comfirm-close" href="javascript:void(0)" ng-click="cancle()">X</a>
    </div>
    <div class="comfirm-content">
        <p class="comfirm-text">{{content}}</p>
    </div>
    <div class="comfirm-button">
        <a class="comfirm-cancel" href="javascript:void(0)" ng-click="cancle()">取消</a>
        <a class="comfirm-certain" href="javascript:void(0)" ng-click="certain()">确定</a>
    </div>
</div>
<div class="comfirm-mark" ng-show="popupOpen" ng-click="cancle()"></div>
