<div class="modal top am-fade-and-slide-top" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
	<div class="modal-dialog">
		<div class="modal-content">

			<div class="modal-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title" ng-bind-html="title">Title</h4>
			</div>

			<div class="modal-body">
				<h4>标题</h4>
				<input type="text" ng-model="dialog.title" class="form-control"/>

				<h4>内容</h4>
				<input type="textarea" ng-model="dialog.content" class="form-control"/>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">关闭</button> 
				<button type="button" class="btn btn-primary" ng-click="uploadItem(this)">新建</button>
			</div>

		</div>
	</div>
</div>