<style type="text/css">
	.popup-img-content {position: fixed; left: 50%; top: 50%; z-index: 800; -webkit-transform: translate(-50%, -50%); text-align: center;
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);}
	.popup-img-close {width: 20px; height: 20px; background-color: #fff; border-radius: 50%; box-shadow: 0 0 5px rgba(0,0,0,0.3); position: absolute; right: -10px; top: -10px; color: #000;}
	.popup-img-mask {width: 100%; height: 100%; position: fixed; left: 0; top:0; background-color: rgba(0,0,0,0.5); z-index: 780;}
</style>
<div class="popup-img" ng-show="isPopupShow">
	<div class="popup-img-content">
		<img ng-src="{{imgSrc}}">
		<div class="popup-img-close" ng-click="isPopupShow = false">x</div>
	</div>
	<div class="popup-img-mask" ng-click="isPopupShow = false"></div>
</div>
