<!-- 弹窗start -->
<div class="popAdd popup-normal" ng-show="popupOpen" ng-if="!template">
    <div class="popAddTitle popAddTitleNewpage">
        {{title ? title : '提示信息'}}
    </div>
    <div class="popup-content">
        <p class="popup-text">{{content}}</p>
    </div>
    <div class="popAdminBtn" ng-if="!notBtns">
        <a class="popAdminBtn-Cancel popAdminBtn-CancelFloor" href="" ng-click="cancle()">取消</a>
        <a class="popAdminBtn-OK popAdminBtn-OKFloor" href="" ng-click="save()">确定</a>
    </div>
    <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
</div>
<!-- 弹窗end -->

<!-- 弹窗start -->
<div ng-include="template" ng-if="template">
    <!-- 这是模板
    <script type="text/ng-template" id="model.html">
    <div class="popAdd popup-normal" ng-show="popupOpen" ng-if="template">
        <div class="popAddTitle popAddTitleNewpage">
            提示信息
        </div>
        <div class="popup-content">
            <p class="popup-text">测试死否可以</p>
        </div>
        <div class="popAdminBtn popAdminBtnNewpage">
            <a class="popAdminBtn-Cancel popAdminBtn-CancelFloor" href="" ng-click="cancle()">取消</a>
            <a class="popAdminBtn-OK popAdminBtn-OKFloor" href="" ng-click="save()">确定</a>
        </div>
        <a class="popAdminBtn-close" href="" ng-click="cancle()"></a>
    </div>
    <div class="popup-mark" ng-show="popupOpen" ng-click="cancle()"></div>
    </script>
    -->
</div>
<!-- 弹窗end -->

<div class="popup-mark" ng-show="popupOpen" ng-click="cancle()"></div>
